name: Test
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build image
        run: docker build -t test .
      - name: Run image
        run: docker run -d --name clamav test
      - name: Verify
        run: |
          [ $(docker inspect clamav --format='{{.State.Running}}') = 'true' ]
      - name: Wait online
        run : |
          wait=60
          while ! docker exec clamav nc -z 0.0.0.0 3310; do
            wait=$((wait - 1))
            [ "$wait" -le 0 ] && exit 1
            sleep 1
          done
      - name: Test Eicar
        run: |
          docker exec clamav sh -c 'echo '\''X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*'\'' > /tmp/eicar.com'
          set +e
          docker exec clamav clamdscan --stream /tmp/eicar.com
          [ $? -eq 1 ]
